{% load static %}
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>

	<!-- header -->
	<header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
      <div class="container">
        <h1><a class="navbar-brand" href="{% url 'main' %}"><span class="fa fa-play icon-log"
              aria-hidden="true"></span>
            ProShowz </a></h1>
        <!-- if logo is image enable this
            <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% block active %}
          <ul class="navbar-nav ml-auto">
            {% block home_active %}

            {% endblock %}
            {% block about_active %}

            {% endblock %}
            {% block genre_active %}

            {% endblock %}
            {% block contact_active %}

            {% endblock %}
          </ul>
          {% endblock %}

          <!--/search-right-->
          <!--/search-right-->
          <div class="search-right">
            <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
                class="fa fa-search ml-3" aria-hidden="true"></span></a>
            <!-- search popup -->
            <div id="search" class="pop-overlay">
              <div class="popup">
                <form action="#" method="post" class="search-box">
                  <input type="search" placeholder="Search your Keyword" name="search"
                    required="required" autofocus="">
                  <button type="submit" class="btn"><span class="fa fa-search"
                      aria-hidden="true"></span></button>
                </form>
                <div class="browse-items">
                  <h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
                  <ul class="search-items">
                    <li><a href="{% url 'genre' %}">Action</a></li>
                    <li><a href="{% url 'genre' %}">Drama</a></li>
                    <li><a href="{% url 'genre' %}">Family</a></li>
                    <li><a href="{% url 'genre' %}">Thriller</a></li>
                    <li><a href="{% url 'genre' %}">Commedy</a></li>
                    <li><a href="{% url 'genre' %}">Romantic</a></li>
                    <li><a href="{% url 'genre' %}">Tv-Series</a></li>
                    <li><a href="{% url 'genre' %}">Horror</a></li>
                    <li><a href="{% url 'genre' %}">Action</a></li>
                    <li><a href="{% url 'genre' %}">Drama</a></li>
                    <li><a href="{% url 'genre' %}">Family</a></li>
                    <li><a href="{% url 'genre' %}">Thriller</a></li>
                    <li><a href="{% url 'genre' %}">Commedy</a></li>
                    <li><a href="{% url 'genre' %}">Romantic</a></li>
                    <li><a href="{% url 'genre' %}">Tv-Series</a></li>
                    <li><a href="{% url 'genre' %}">Horror</a></li>
                  </ul>
                </div>
              </div>
              <a class="close" href="#close">×</a>
            </div>
            <!-- /search popup -->
            <!--/search-right-->
          </div>


        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </div>
    </nav>
    <!--//nav-->
  </header>
	<!-- //header -->
	<!-- main-slider -->
  {% block slider %}{% endblock %}
  {% block breadcrumbs %}{% endblock %}
  {% block about %}{% endblock %}
  {% block contact %}{% endblock %}
	<!-- //banner-slider-->
	<!-- main-slider -->
	<!--grids-sec1-->
  {% block grids1 %}{% endblock %}
  {% block grids12 %}{% endblock %}
  {% block grids %}{% endblock %}
	<!--//grids-sec1-->
	<!--grids-sec2-->
  {% block grids2 %}{% endblock %}
	<!--grids-sec2-->
	<!--mid-slider -->
  {% block mid_slider %}{% endblock %}
	<!-- //mid-slider-->
	<!--/tabs-->
  {% block tabs %}{% endblock %}
	<!-- //tabs-->
	<!-- footer-66 -->
  {% include 'include/footer.html' %}
	<!--//footer-66 -->
</body>

</html>
<!-- responsive tabs -->
{% block js %}{% endblock %}
<script src="{% static '/js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static '/js/easyResponsiveTabs.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      //Horizontal Tab
      $('#parentHorizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion
        width: 'auto', //auto or any width like 600px
        fit: true, // 100% fit in a container
        tabidentify: 'hor_1', // The tab groups identifier
        activate: function (event) { // Callback function if tab is switched
          var $tab = $(this);
          var $info = $('#nested-tabInfo');
          var $name = $('span', $info);
          $name.text($tab.text());
          $info.show();
        }
      });
    });
  </script>
<!-- //responsive tabs -->
<!--/theme-change-->
<script src="{% static '/js/theme-change.js' %}"></script>
<!-- //theme-change-->
<script src="{% static '/js/owl.carousel.js' %}"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			stagePadding:280,
			loop: true,
			margin: 20,
			nav: true,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					stagePadding:40,
					nav: false
				},
				480: {
					items: 1,
					stagePadding:60,
					nav: true
				},
				667: {
					items: 1,
					stagePadding:80,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //script -->
<script>
	$(document).ready(function () {
		$('.owl-three').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 5,
					nav: true
				}
			}
		})
	})
</script>
<!-- //script -->
<!-- /mid-script -->
<script>
	$(document).ready(function () {
		$('.owl-mid').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //mid-script -->

<!-- script for owlcarousel -->
<!-- Template JavaScript -->
<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!--//-->
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
<!--//MENU-JS-->

<script src="{% static 'js/bootstrap.min.js' %}"></script>